# Python関連の不要ファイル
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc

# 仮想環境ディレクトリ
venv/
env/
.venv/
# .env/

# Git関連のディレクトリ
.git
.gitignore

# その他の不要なファイルやディレクトリ
*.log
*.tmp
*.swp
*.DS_Store
node_modules/
dist/
build/
